@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    body {
        font-family: Arial, sans-serif;
        padding: 0;
        text-align: center;
        margin: 60px 0 0 0;
    }


* {
    font-family: montserrat;
}

nav {
    position: fixed;
    top: 0;
    left : 0;
    width: 100%;
    z-index: 1000;
}

#items {
    display: flex;
}

h1, h2 {
    margin-bottom: 10px;
}

.item, .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Set width and height for the item images */
.item img, .cart-item img {
    width: 50px; /* Set the image width */
    height: 50px; /* Set the image height */
    cursor: pointer; /* Make the image clickable */
    margin-right: 10px;
}

/* Set styling for the radio buttons and input fields */
input[type="radio"], input[type="number"] {
    margin: 5px;
}

label, button {
    margin-bottom: 10px;
    display: block;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#cart {
    margin-top: 20px;
}

#receipt {
    white-space: pre-wrap;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    line-height: 1.5;
}

#receipt p {
    margin: 0; /* Remove default paragraph margin */
}

#cartItems div {
    display: flex;
    justify-content: space-between;
}

/* Print-specific styles */
@media print {
    /* Hide non-essential elements when printing */
    body > *:not(#receipt, h1, h2) {
        display: none;
    }
    /* Center the receipt on the page */
    #receipt {
        margin: auto;
        width: 50%; /* Adjust the width as needed */
        border: none; /* Remove border when printing */
    }
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    list-style: none;
    z-index: 1000;
}

li {
    margin: 0 0 0 50px;
}
